<div id="socials-container">
	<a href="https://github.com/girlycoded/" title="@girlycoded on github" target="_blank">
		<img src="res/icons8-github-36.png" alt="Github" srcset="">
	</a>
	<a href="https://www.roblox.com/users/1773559974/profile" title="@imjoosan on roblox" target="_blank">
		<img src="res/icons8-roblox-36.png" alt="Roblox" srcset="">
	</a>
	<a href="https://discord.com/users/634169631472353301" title="@girly_coded on discord" target="_blank">
		<img src="res/icons8-discord-36 (1).png" alt="Discord" srcset="">
	</a>
	<a href="https://www.linkedin.com/in/joosan/" title="@joosan on linkedin" target="_blank">
		<img src="res/icons8-linkedin-36.png" alt="Linkedin" srcset="">
	</a>
	<a href="https://www.youtube.com/@girlycoded" title="@girlycoded on youtube" target="_blank">
		<img src="res/icons8-youtube-36.png" alt="Youtube" srcset="">
	</a>
</div>